/* =============
    Base
============= */
@use "../helpers";

html {
    scroll-behavior: smooth;
}

body {
    // padding-top: 80px; // match your header's height
    margin: 0;
}

ul{
    li{
        list-style: none;
    }
}

.show-lg{
    display: none;
    @include helpers.lg{
        display: block;
    }
}

.hide-lg{
    @include helpers.lg{
        display: none;
    }
}

.content-padding{
    padding: 10vh 0;
    padding-left: 16px;
    padding-right: 16px;

    @include helpers.md{
        // padding: 15vh 0;
    }

    @include helpers.lg{
        
    }

    @include helpers.xl{
        
    }

    @include helpers.xxl{
        
    }
}

.callout-section{
    h2 {
        font-weight: 550;

        @include helpers.md {
            font-size: helpers.rem-calc(35);
            font-weight: 550;
        }
    }

    button {
        margin-top: 24px;
        border: none;
        background-color: var(--purple);
        padding: 16px;
        color: var(--white);
        font-weight: 550;
        transition: 0.25s;
        cursor: pointer;

        @include helpers.md {
            font-size: helpers.rem-calc(20);
            padding: 24px;
        }

        &:hover {
            background-color: var(--white);
            color: var(--purple);
        }
    }
}
