/* =============
    Bio Modal
============= */
@use "../helpers";

#bio-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    #bio-panel {
        background: var(--white);
        margin: 40px auto;
        padding: 16px;
        overflow-y: auto;
        max-height: calc(100vh - 80px);
        border-radius: 16px;
        width: 90vw;

        @include helpers.md {
            width: 90vw;
        }

        @include helpers.lg {
            width: 75vw;
        }

        @include helpers.xl {
            width: 60vw;
        }

        @include helpers.xxl {
            width: 50vw;
        }

        #bio-close {
            display: flex;
            justify-content: flex-end;
            position: sticky;
            width: 100%;
            top: -16px;
            right: 0;
            left: 0;
            box-sizing: border-box;
            background-color: var(--white);
            padding: 4px;

            button {
                border: none;
                background-color: var(--red);
                color: var(--white);
                padding: 16px;
                border-radius: 16px;
                font-weight: 550;
            }
        }
    }
}