/* =============
    IND Submission
============= */
@use "../helpers";

#ind{
    background-image: url("../img/vendor/vendor-bg.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    text-align: center;

    @include helpers.md {
        height: 45vh;
    }

    >div{
        color: var(--blue);
        background-color: var(--white-smoke);
        padding: 16px;
        border-radius: 12px;
        text-align: center;
        box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.05),
            0 2px 4px -1px rgba(0, 0, 0, 0.03);

        @include helpers.md{
            width: 70vw;
        }

        @include helpers.lg{
            width: 50vw;
        }

        @include helpers.xl{
            margin: 0 auto;
            width: 40vw;
        }

        h2 {

        }
    }
}