/* =============
    IND Submission
============= */
@use "../helpers";

#ind{
    background-image: url("../img/ind/ind-bg.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    @include helpers.md {
        height: 45vh;
         justify-content: flex-start;
    }

    >div{
        color: var(--white);
        text-align: left;

        @include helpers.md{
            width: 70vw;
        }

        @include helpers.xxl {
            width: 40vw;
            margin: 0 auto;
        }

        h2{
            // color: var(--white);
            margin-top: 12px;
        }
    }
}