/* =============
    IND Submission
============= */
@use "../helpers";

#ind{
    background-image: url("../img/ind/ind-bg.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    >div{
        color: var(--white);
        text-align: right;

        @include helpers.md{
            width: 60vw;
        }

        h2{
            // color: var(--white);
            margin-top: 12px;
        }
    }
}