/* =============
    Phase 1
============= */
@use "../helpers";

#phase-1 {
    background-image: url("../img/phase-1/background-MB.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    padding: 25vh 16px 16px;

    @include helpers.lg {
        height: 40vh;
        background-image: url("../img/phase-1/background-DT.jpg");
    }

    > div {

        padding: 24px;

        @include helpers.md {
            width: 70vw;
        }

        @include helpers.lg {
            width: 70vw;
        }

        @include helpers.xl {
            width: 60vw;
        }

        @include helpers.xxl {
            width: 50vw;
        }
          

        h1 {
            color: var(--blue);
            text-align: right;
            font-weight: 550;
            @include helpers.md {
                font-size: helpers.rem-calc(55);
            }
        }

        #phase-btn-container {
            display: flex;
            justify-content: flex-end;

            button {
                border: none;
                background-color: var(--purple);
                padding: 16px;
                color: var(--white);
                font-weight: 550;
                transition: 0.25s;
                cursor: pointer;

                @include helpers.md {
                    font-size: helpers.rem-calc(30);
                    padding: 24px;
                }

                &:hover {
                    background-color: var(--white);
                    color: var(--purple);
                }
            }
        }
    }
}
