/* =============
    Navigation
============= */
@use "../helpers";

a{
    text-decoration: none;
}


#mainNav{
    width: 100%;

    ul{
        @include helpers.lg{
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        li{
            text-align: right;
            

            @include helpers.lg{
                padding-right: 16px;
            }

            a:link, a:visited{
                font-weight: 550;
                display: inline-block;
                padding: 24px 0;
                color: var(--blue);
                transition: 0.25s;

                @include helpers.lg{
                    padding: 24px;
                }

                &:hover, &:active{

                    @include helpers.lg{
                        background-color: var(--gray-light);
                        color: var(--white);
                        border: 8px;
                    }
                }
            }

            #contact-btn{
                background-color: var(--yellow);
                color: var(--blue);
                border: none;
                border-radius: 8px;
                padding: 24px;
                font-weight: 600;
                cursor: pointer;
                transition: 0.25s;
                // margin-right: 24px;

                &:hover{
                    background-color: var(--blue);
                    color: var(--white);
                }
            }
        }
    }
}